<div class="container">
	<div class="row bg-warning" id="header">
		<p>this is header</p>
	</div>

	<div class="row">
		<div class="col-md-2 bg-danger" id="leftMenu">
			<p>this is left menu</p>
			<ul>
				<li>
					<a ui-sref="app.content.state1" ui-sref-active="active" ng-click="rootScopeActivateState('1')">state 1</a>
				</li>
				<li>
					<a ui-sref="app.content.state2" ui-sref-active="active" ng-click="rootScopeActivateState('2')">state 2</a>
				</li>
			</ul>

			
		</div>
		<div class="col-md-8" id="content">
			<p>this is contentView</p>
			<div ui-view="contentView"></div>
			
		</div>
	</div>
	
	<div class="row bg-warning" id="footer">
		<p>this is footer</p>
		<!-- <button ng-click="rootScopeActivateState('1')">activate tab state1</button>
		<br />
		<button ng-click="rootScopeActivateState('2')">activate tab state2</button> -->
	</div>

</div>
