<div class="container">
	<div class="row bg-warning" id="header">
		<p>this is header</p>
	</div>

	<div class="row">
		<div class="col-md-2 bg-danger" id="leftMenu">
			<p>this is left menu</p>
			<ul>
				<li>
					<a ui-sref="app.state1" ui-sref-active="active">state 1</a>
				</li>
				<li>
					<a ui-sref="app.state2" ui-sref-active="active">state 2</a>
				</li>
			</ul>

			
		</div>
		<div class="col-md-8" id="content">

			<ul class="nav nav-tabs">
				<li role="presentation" class="active">
					<a ui-sref="app.state1" ui-sref-active="active" role="tab" data-toggle="tab" data-target="#idState1" >state 1</a>
				</li>
				<li role="presentation">
					<a ui-sref="app.state2" ui-sref-active="" role="tab" data-toggle="tab" data-target="#idState2" >state 2</a>
				</li>
			</ul>

			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="idState1">
					<p>this is tab state1</p>
					<div ui-view="state1" ng-show="$state.includes('app.state1')"></div>
				</div>
				<div role="tabpanel" class="tab-pane " id="idState2">
					<p>this is tab state2</p>
					<div ui-view="state2" ng-show="$state.includes('app.state2')"></div>
				</div>
			</div>

			
			
		</div>
	</div>
	
	<div class="row bg-warning" id="footer">
		<p>this is footer</p>
	</div>

</div>
